PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

//SMTP server config

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

// для генерації підпису токену

JWT_SECRET=

APP_DOMAIN=

CLOUD_NAME=
API_KEY=
API_SECRET=